html, body, *, nav {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.footer {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.content {
    margin: 30px;
}

.description-list {
    margin-left: 30px;
}

.dark-mode-toggle {
    margin-right: 20px;
}

.php-error {
    padding: 5px;
}

.footer-text {
    font-weight: bold;
}

.icon-list {
    list-style-type: none;
    margin: 10px;
    display: inline-block;

}

.icon-list-text {
    padding: 10px;
    display: inline-block;
}

.title-brand {
    padding-left: 10px;
    margin: auto;
    font-weight: 400;
    font-size: 1.2rem;
}

.title-brand:hover {
    text-decoration: none;
}

.underlineNav-actions {
    text-align: right;
}

.no-js {
    visibility: visible;
}

.share-icon {
    color: var(--color-btn-outline-hover-bg);
}

.share-icon:hover {
    color: var(--color-btn-outline-hover-text);
}

#parent-button {
    cursor: pointer;
}

.jumbotron {
    text-align: center;
    height: 70vh;
}

.jumbotron-filler {
    height: 40%;
}

.about-link {
    color: var(--color-scale-purple-4);
}

.tree-action-button {
    display: inline;
    margin: 3px;
}

#cusdis-wrapper {
    padding: 10px;
}

#cusdis-parent {
    background-color: #ffffff;
    border-radius: 4px;
}